.testimonial {
    background-color:  #495E57;;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.testimonial-header { 
    text-align: center;
    padding-bottom: 2rem;
    color: white;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.25rem;
}

.testimonial-card { 
    grid-column: auto;
    padding: 1.25rem; 
    justify-items: center;
    border-radius: 1rem;
    background-color: white;
}

.testimonial-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
}

.testimonial-card-footer {
    text-align: center;
}

.testimonial-card img { 
    width: 8rem;
}
